<div class="demo-section">
  <h3>Table</h3>

  <h4>Local Sort and Infinite Scroll</h4>
  <button md-button (click)="add1000()">add 1000 rows</button><br/>
  <md-table scrollable="true">
    <thead>
    <tr>
      <th width=150 sort="name">Name</th>
      <th numeric width=90 sort="id">ID</th>
      <th width=200 sort="power">Power</th>
    </tr>
    </thead>
    <tbody>
    <tr *for="let item of items">
      <td>{{item.name}}</td>
      <td>{{item.id}}</td>
      <td>{{item.power}}</td>
    </tr>
    </tbody>
  </md-table>

  <h4>Server side Sort</h4>
  <p>$event will be a tuple of [sortField:string, ascending:boolean]</p>
  <md-table server-side-sort="true" (sort)=updateData($event)>
    <thead>
    <tr>
      <th sort=name>Name</th>
      <th numeric sort=id>ID</th>
      <th sort=power>Power</th>
    </tr>
    </thead>
    <tbody>
    <tr *for="let item of serverItems">
      <td>{{item.name}}</td>
      <td>{{item.id}}</td>
      <td>{{item.power}}</td>
    </tr>
    </tbody>
  </md-table>

  <h4>Selection</h4>
  <div style="display:inline-block">
    <md-table #selectableTable>
      <thead>
      <tr>
        <th selector></th>
        <th sort=name>Name</th>
        <th numeric sort=id>ID</th>
        <th sort=power>Power</th>
      </tr>
      </thead>
      <tbody>
      <tr *for="let item of selectableItems">
        <td selector [item]="item"></td>
        <td>{{item.name}}</td>
        <td>{{item.id}}</td>
        <td>{{item.power}}</td>
      </tr>
      </tbody>
    </md-table>
  </div>
  <div style="display:inline-block;vertical-align:top;">
    <h5>selected:</h5>
    <ul>
      <li *ngFor="let character of selectableTable.getSelected()">
        {{character.name}}
      </li>
    </ul>
  </div>

  <h4>Editable cells</h4>
  <md-table>
    <thead>
    <tr>
      <th sort=name>Name</th>
      <th numeric sort=id>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr *for="let item of editableItems">
      <td [(editable)]="item.name">{{item.name}}</td>
      <td>{{item.id}}</td>
    </tr>
    </tbody>
  </md-table>
</div>
